/* standard typographical elements */

body{
	@include primary_typeface;
	color: $primary_font_colour;
}

em,
i{
	@include primary_typeface_italic;
}

b,
strong{
	@include primary_typeface_bold;
}

h1,
h2,
h3,
h4,
h5,
h6{
	@include secondary_typeface;
	clear: both;
}

h1{
	@include adjust-font-size-to($base-font-size * 2);
	@include adjust-leading-to(.71);
}

h2{
	@include adjust-font-size-to($base-font-size * 1.4);
	@include adjust-leading-to(.71);
	@include leader(.75);
	@include trailer(.25);
	.secondary &{
		@media screen and (min-width : $break-larger){
			@include leader(0);
			@include padding-trailer(.15);
		}
	}
	nav &{
		@media screen and (min-width : $break-larger){
			border-bottom: 1px solid $default_border_colour;
		}
	}
	footer &{
		@include adjust-font-size-to($base-font-size * 1.2);
		@include margin-leader(0);
		@include margin-trailer(.25);
		@media screen and (min-width : $break-larger){
			border-bottom: 1px solid $default_border_colour;
		}
	}
	footer &{
		@include leader(0);
		@include adjust-font-size-to($base-font-size * 1.2);
	}
}

h3{
	@include adjust-font-size-to($base-font-size * 1.2);
	@include adjust-leading-to(.71);
	@include margin-leader(.75);
	@include margin-trailer(.25);
}

.lede,
.standfirst,
h2+p,
h3+p,
h4+p,
h5+p,
h6+p{
	text-indent: 0;
}

p{
	text-indent: $indent;
	clear: both;
	&.lede,
	&.standfirst{
		@include adjust-font-size-to($base-font-size * 1.1);
		@include adjust-leading-to(1.1);
		@include trailer;
	}
	&.meta,
	&.share{
		@include primary_typeface_italic;
		@include leader(.25);
		time{
			@include primary_typeface_bold;
		}
	}
	&.share{
		@include margin-leader(.5);
		@media screen and (min-width : $break-large){
			@include trailer();
		}
	}
	footer &{
		text-indent: 0;
		&.share{
			@include adjust-leading-to(.71);
			@include leader(0);
		}	
	}
	
	footer[role=contentinfo] &{
		@include padding-trailer(.5);
	}
}

a[rel=endnote]{
	@include adjust-font-size-to($base-font-size * .7);
	vertical-align: super 
}

small,
.endnotes{
	@include adjust-font-size-to($base-font-size * .9);
}

/* template and section specific overrides */

header[role=banner]{
	@include clearfix;
	@include secondary_typeface;
	text-align: center;
	.logotype{
		@include adjust-font-size-to($base-font-size * 1.4);
		@media screen and (min-width : $break-small){
			@include adjust-font-size-to($base-font-size * 1.5);
			text-align: left;
		}
	}
	nav{
		text-transform: uppercase;
		@include adjust-font-size-to($base-font-size * 1.2);
		@media screen and (min-width : $break-small){
			@include adjust-font-size-to($base-font-size * 1.4);
			text-transform: capitalize;
		}
	}
}

.content{
	ul,
	ol{
		@include leader(.5);
		@include trailer(.5);
		list-style-position: inside;	
		@media screen and (max-width : $break-large){
			padding-left: $indent;
		}
		@media screen and (min-width : $break-large){
			list-style-position: outside;
		}	
	}
	ul{
		list-style-type: square;
	}
	ol{
		list-style-type: decimal;
	}
}

.endnotes{
	list-style: inside decimal;
}

li{
	@include adjust-leading-to(.85);
	@include margin-trailer(.25);
}

footer[role=contentinfo]{
	@include margin-leader;
	@include padding-leader(.5);
	@include padding-trailer(.5);
	/* small ul{
		@media screen and (min-width : $break-larger){
			text-align: right;
		}
	} */
}

