/* 
 * 
 * we should declare some variables and mixins
 *
 */

/* let's start with the typography */
@mixin primary_typeface{
	font-family: "Enigma Regular", Georgia, 'Times New Roman', Times, serif;
	font-size-adjust: 0.44;
	font-weight: normal;
	font-style: normal;
}

@mixin primary_typeface_bold{
	font-family: "Enigma Bold", Georgia, 'Times New Roman', Times, serif;
	font-size-adjust :0.45;
	font-weight: bold;
	font-style: normal;
}

@mixin primary_typeface_italic{
	font-family: "Enigma Italic", Georgia, 'Times New Roman', Times, serif;
	font-size-adjust: 0.46;
	font-weight: normal;
	font-style:italic;
}

@mixin secondary_typeface{
	 font-family: "FS Clerkenwell Web Regular", Georgia, serif;
	 font-size-adjust: 0.457;
	 font-weight: normal;
	 font-style: normal;
}

/* @mixin variant_typeface{
	font-family: "NuOrder Regular", Arial, sans-serif;
	font-size-adjust: 0.5;
	font-style: normal;
	font-weight: 400;
} */

@mixin variant_typeface{
	font-family: "NuOrder Light", Arial, sans-serif;
	font-size-adjust: 0.5;
	font-weight: 300;
	font-style: normal; 
}

/* and a default indent for paragraphs and lists */

$indent: 3%;

/* that was fun; let's try some colours next */
$primary_theme_colour: #ff5b00; /* orange */
$primary_theme_shade: #BF4400; /* orange but with 25% more added black */
$theme_accent: #165f8f;
$primary_font_colour: #2b2b2b;
$default_border_colour: #CACACA; 

/* social media colours */

$twitter_brand: #55ACEE;
$facebook_brand: #3b5998;

/*
 *
 * I think we should probably establish a baseline 
 *
 */

$base-font-size: 18px;
$base-line-height: ($base-font-size * 1.5);
@include establish-baseline;

/*
 *
 * Next, we'll need some breakpoints
 *
 */

 /* These are minor ones, for adjusting headings and small changes to the layout */

 $break-small: 37em;

 /* These are major ones for switching layouts - determined by line-length */

 $break-large: 43em;
 $break-larger: 61em;
 $break-largest: 72em;
 $break-massive: 81em;

