/* 
 *
 * breakpoints for making big adjustments 
 * determined by line-length
 *
 */

 $bp-tiny: 27.5em;
 $bp-small: 40em;
 // $bp-big:
 $bp-bigger: 72em;


/* 
 * 
 * tweakpoints for making smalller adjustments
 * determined by circumstance and liable to change often
 *
 */

 $tp-a: 35em;



