body{
	border-top: 4px solid $primary_theme_colour;
}

.wrap{
	margin: 0 auto;
	width: 85%;
	@media screen and (min-width : $break-largest){
		max-width: 72em;
	}
}

header[role=banner]{
	@include clearfix;
	@include margin-trailer();
	@media screen and (min-width : $break-large){
		@include margin-trailer(3);
	}
	.logotype{
		@media screen and (min-width : $break-large){
			@include gs-span(d,1,1);
		}
	}
	nav{
		@media screen and (min-width : $break-large){
			@include gs-span(d,2,2);
		}
	}
}

article{
	@include clearfix;
	@include gs-span(d,1,2);
	@media screen and (min-width : $break-larger){
		@include gs-span(e,1,4);
	}
	header{
		@include trailer(1.25);
		@media screen and (min-width : $break-larger){
			@include gs-span(e,2,4,(1,4));
			clear: left;
		}
	}
	.lede,
	.standfirst{
		@media screen and (min-width : $break-larger){
			@include gs-span(e,2,4,(1,4));
			clear: left;
		}
	}
	.hero{
		@media screen and (min-width : $break-larger){
			@include clearfix;
			@include gs-span(e,1,4,(1,4));
			clear: left;
		}
	}
	.content{
		@media screen and (min-width : $break-large){
			@include gs-span(e,2,5);
			@include trailer();
		}
		@media screen and (min-width : $break-larger){
			@include gs-span(e,2,4,(1,4));
			clear: left;
		}
	}
	footer{
		@media screen and (min-width : $break-large){
			@include gs-span(e,1,1);
			@media screen and (min-width : $break-larger){
				@include gs-span(e,1,1,(1,4));
				@include margin-leader(3);
			}
		}
	}
}

div.excerpt{
	@include clearfix;
	clear: both;
	@media screen and (min-width: $break-large){

		&:nth-of-type(odd){
			@include gs-span(d,1,1);
			clear: left;
			header{
				@include gs-span(d,1,1,(1,1));
			}
			img{
				clear: both;
				@include gs-span(d,1,1,(1,1));
			}
		}
		&:nth-of-type(even){
			@include gs-span(d,2,2);
			clear: right;
			header{
				@include gs-span(d,2,2,(2,2));
			}
			img{
				clear: both;
				@include gs-span(d,2,2,(2,2));
			}
		}
	}
}

.archive{
	section{
		@include clearfix;
		clear: both;
		header{
			@include clearfix;
			@include gs-span(e,2,4,(2,4));

			@include margin-trailer(.5);
		}
		img{
			clear: both;
			@include leader(0);
			@include gs-span(e,2,2,(2,4));
		}
		div{
			@include gs-span(e,3,4,(2,4));
		}
	}
}

footer[role=contentinfo]{
	border-top: 5px solid $primary_theme_colour;
	clear: both;
	@media screen and (min-width : $break-larger){
		@include clearfix;
		@include gs-span(e,1,5);
		@include padding-leader(1.5);
	}
	.contact{
		@media screen and (min-width : $break-larger){
			@include gs-span(e,4,5,(1,5));
		}
	}
	.colophon{
		@media screen and (min-width : $break-larger){
			@include gs-span(e,1,3,(1,5));
			@include margin-trailer(.5);
		}
		@media screen and (min-width : $break-massive){
			@include gs-span(d,1,1);
		}
	}
	small{
		@include padding-leader(.5);
		border-top: 1px solid $default_border_colour;
		clear: both;
		display: block;
		@media screen and (min-width: $break-large){
			p{
				@include gs-span(e,1,3,(1,5));;
			}
			ul{
				clear: none;
				@include gs-span(e,4,5,(1,5));
			}
		}
	}
}