/* color */

$theme_color: #ff5b00; /* orange */
$theme_shade: #BF4400; /* orange but with 25% more added black */
$theme_accent: #165f8f;
$font_color: #2b2b2b;
$border_color: #cacaca; 
$twitter_brand_color: #55acee;

/* borders */

$light_border: 1px solid $border_color;
$heavy_border: 4px solid $theme_color;