/* indent all paragraphs in main content area except for the first one and any which immediately follow headings */ 

.content{
	p{
		text-indent: 1em;
		&:first-of-type{
			text-indent: 0;
		}
	}
	h1+p,
	h2+p,
	h3+p,
	h4+p,
	h5+p,
	h6+p{
		text-indent: 0;
	}
}