/* line 17, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/*
 *  Font Awesome 4.0.3 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */
/* FONT PATH
 * -------------------------- */
@font-face {
  font-family: 'FontAwesome';
  src: url("/assets/fnt//fontawesome-webfont.eot?v=4.0.3");
  src: url("/assets/fnt//fontawesome-webfont.eot?#iefix&v=4.0.3") format("embedded-opentype"), url("/assets/fnt//fontawesome-webfont.woff?v=4.0.3") format("woff"), url("/assets/fnt//fontawesome-webfont.ttf?v=4.0.3") format("truetype"), url("/assets/fnt//fontawesome-webfont.svg?v=4.0.3#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 4, ../sass/vendors/font-awesome/_core.scss */
.fa {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* makes the font 33% larger relative to the icon container */
/* line 5, ../sass/vendors/font-awesome/_larger.scss */
.fa-lg {
  font-size: 1.33333em;
  line-height: 0.75em;
  vertical-align: -15%;
}

/* line 10, ../sass/vendors/font-awesome/_larger.scss */
.fa-2x {
  font-size: 2em;
}

/* line 11, ../sass/vendors/font-awesome/_larger.scss */
.fa-3x {
  font-size: 3em;
}

/* line 12, ../sass/vendors/font-awesome/_larger.scss */
.fa-4x {
  font-size: 4em;
}

/* line 13, ../sass/vendors/font-awesome/_larger.scss */
.fa-5x {
  font-size: 5em;
}

/* line 3, ../sass/vendors/font-awesome/_fixed-width.scss */
.fa-fw {
  width: 1.28571em;
  text-align: center;
}

/* line 4, ../sass/vendors/font-awesome/_list.scss */
.fa-ul {
  padding-left: 0;
  margin-left: 2.14286em;
  list-style-type: none;
}
/* line 8, ../sass/vendors/font-awesome/_list.scss */
.fa-ul > li {
  position: relative;
}

/* line 10, ../sass/vendors/font-awesome/_list.scss */
.fa-li {
  position: absolute;
  left: -2.14286em;
  width: 2.14286em;
  top: 0.14286em;
  text-align: center;
}
/* line 16, ../sass/vendors/font-awesome/_list.scss */
.fa-li.fa-lg {
  left: -1.85714em;
}

/* line 4, ../sass/vendors/font-awesome/_bordered-pulled.scss */
.fa-border {
  padding: .2em .25em .15em;
  border: solid 0.08em #eeeeee;
  border-radius: .1em;
}

/* line 10, ../sass/vendors/font-awesome/_bordered-pulled.scss */
.pull-right {
  float: right;
}

/* line 11, ../sass/vendors/font-awesome/_bordered-pulled.scss */
.pull-left {
  float: left;
}

/* line 14, ../sass/vendors/font-awesome/_bordered-pulled.scss */
.fa.pull-left {
  margin-right: .3em;
}
/* line 15, ../sass/vendors/font-awesome/_bordered-pulled.scss */
.fa.pull-right {
  margin-left: .3em;
}

/* line 4, ../sass/vendors/font-awesome/_spinning.scss */
.fa-spin {
  -webkit-animation: spin 2s infinite linear;
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
}

@-moz-keyframes spin {
  /* line 12, ../sass/vendors/font-awesome/_spinning.scss */
  0% {
    -moz-transform: rotate(0deg);
  }

  /* line 13, ../sass/vendors/font-awesome/_spinning.scss */
  100% {
    -moz-transform: rotate(359deg);
  }
}

@-webkit-keyframes spin {
  /* line 16, ../sass/vendors/font-awesome/_spinning.scss */
  0% {
    -webkit-transform: rotate(0deg);
  }

  /* line 17, ../sass/vendors/font-awesome/_spinning.scss */
  100% {
    -webkit-transform: rotate(359deg);
  }
}

@-o-keyframes spin {
  /* line 20, ../sass/vendors/font-awesome/_spinning.scss */
  0% {
    -o-transform: rotate(0deg);
  }

  /* line 21, ../sass/vendors/font-awesome/_spinning.scss */
  100% {
    -o-transform: rotate(359deg);
  }
}

@-ms-keyframes spin {
  /* line 24, ../sass/vendors/font-awesome/_spinning.scss */
  0% {
    -ms-transform: rotate(0deg);
  }

  /* line 25, ../sass/vendors/font-awesome/_spinning.scss */
  100% {
    -ms-transform: rotate(359deg);
  }
}

@keyframes spin {
  /* line 28, ../sass/vendors/font-awesome/_spinning.scss */
  0% {
    transform: rotate(0deg);
  }

  /* line 29, ../sass/vendors/font-awesome/_spinning.scss */
  100% {
    transform: rotate(359deg);
  }
}

/* line 4, ../sass/vendors/font-awesome/_rotated-flipped.scss */
.fa-rotate-90 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=$rotation);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

/* line 5, ../sass/vendors/font-awesome/_rotated-flipped.scss */
.fa-rotate-180 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=$rotation);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

/* line 6, ../sass/vendors/font-awesome/_rotated-flipped.scss */
.fa-rotate-270 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=$rotation);
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);
}

/* line 8, ../sass/vendors/font-awesome/_rotated-flipped.scss */
.fa-flip-horizontal {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=$rotation);
  -webkit-transform: scale(-1, 1);
  -moz-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  transform: scale(-1, 1);
}

/* line 9, ../sass/vendors/font-awesome/_rotated-flipped.scss */
.fa-flip-vertical {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=$rotation);
  -webkit-transform: scale(1, -1);
  -moz-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  -o-transform: scale(1, -1);
  transform: scale(1, -1);
}

/* line 4, ../sass/vendors/font-awesome/_stacked.scss */
.fa-stack {
  position: relative;
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 2em;
  vertical-align: middle;
}

/* line 12, ../sass/vendors/font-awesome/_stacked.scss */
.fa-stack-1x, .fa-stack-2x {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
}

/* line 18, ../sass/vendors/font-awesome/_stacked.scss */
.fa-stack-1x {
  line-height: inherit;
}

/* line 19, ../sass/vendors/font-awesome/_stacked.scss */
.fa-stack-2x {
  font-size: 2em;
}

/* line 20, ../sass/vendors/font-awesome/_stacked.scss */
.fa-inverse {
  color: white;
}

/* Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen
   readers do not read off random characters that represent icons */
/* Unused icons are commented out */
/* .fa-glass:before { content: $fa-var-glass; }
.fa-music:before { content: $fa-var-music; }
.fa-search:before { content: $fa-var-search; }
.fa-envelope-o:before { content: $fa-var-envelope-o; }
.fa-heart:before { content: $fa-var-heart; }
.fa-star:before { content: $fa-var-star; }
.fa-star-o:before { content: $fa-var-star-o; }
.fa-user:before { content: $fa-var-user; }
.fa-film:before { content: $fa-var-film; }
.fa-th-large:before { content: $fa-var-th-large; }
.fa-th:before { content: $fa-var-th; }
.fa-th-list:before { content: $fa-var-th-list; }
.fa-check:before { content: $fa-var-check; }
.fa-times:before { content: $fa-var-times; }
.fa-search-plus:before { content: $fa-var-search-plus; }
.fa-search-minus:before { content: $fa-var-search-minus; }
.fa-power-off:before { content: $fa-var-power-off; }
.fa-signal:before { content: $fa-var-signal; }
.fa-gear:before,
.fa-cog:before { content: $fa-var-cog; }
.fa-trash-o:before { content: $fa-var-trash-o; }
.fa-home:before { content: $fa-var-home; }
.fa-file-o:before { content: $fa-var-file-o; }
.fa-clock-o:before { content: $fa-var-clock-o; }
.fa-road:before { content: $fa-var-road; }
.fa-download:before { content: $fa-var-download; }
.fa-arrow-circle-o-down:before { content: $fa-var-arrow-circle-o-down; }
.fa-arrow-circle-o-up:before { content: $fa-var-arrow-circle-o-up; }
.fa-inbox:before { content: $fa-var-inbox; }
.fa-play-circle-o:before { content: $fa-var-play-circle-o; }
.fa-rotate-right:before,
.fa-repeat:before { content: $fa-var-repeat; }
.fa-refresh:before { content: $fa-var-refresh; }
.fa-list-alt:before { content: $fa-var-list-alt; }
.fa-lock:before { content: $fa-var-lock; }
.fa-flag:before { content: $fa-var-flag; }
.fa-headphones:before { content: $fa-var-headphones; }
.fa-volume-off:before { content: $fa-var-volume-off; }
.fa-volume-down:before { content: $fa-var-volume-down; }
.fa-volume-up:before { content: $fa-var-volume-up; }
.fa-qrcode:before { content: $fa-var-qrcode; }
.fa-barcode:before { content: $fa-var-barcode; }
.fa-tag:before { content: $fa-var-tag; }
.fa-tags:before { content: $fa-var-tags; }
.fa-book:before { content: $fa-var-book; }
.fa-bookmark:before { content: $fa-var-bookmark; }
.fa-print:before { content: $fa-var-print; }
.fa-camera:before { content: $fa-var-camera; }
.fa-font:before { content: $fa-var-font; }
.fa-bold:before { content: $fa-var-bold; }
.fa-italic:before { content: $fa-var-italic; }
.fa-text-height:before { content: $fa-var-text-height; }
.fa-text-width:before { content: $fa-var-text-width; }
.fa-align-left:before { content: $fa-var-align-left; }
.fa-align-center:before { content: $fa-var-align-center; }
.fa-align-right:before { content: $fa-var-align-right; }
.fa-align-justify:before { content: $fa-var-align-justify; }
.fa-list:before { content: $fa-var-list; }
.fa-dedent:before,
.fa-outdent:before { content: $fa-var-outdent; }
.fa-indent:before { content: $fa-var-indent; }
.fa-video-camera:before { content: $fa-var-video-camera; }
.fa-picture-o:before { content: $fa-var-picture-o; } */
/* line 69, ../sass/vendors/font-awesome/_icons.scss */
.fa-pencil:before {
  content: "\f040";
}

/* .fa-map-marker:before { content: $fa-var-map-marker; }
.fa-adjust:before { content: $fa-var-adjust; }
.fa-tint:before { content: $fa-var-tint; }
.fa-edit:before,
.fa-pencil-square-o:before { content: $fa-var-pencil-square-o; }
.fa-share-square-o:before { content: $fa-var-share-square-o; }
.fa-check-square-o:before { content: $fa-var-check-square-o; }
.fa-arrows:before { content: $fa-var-arrows; }
.fa-step-backward:before { content: $fa-var-step-backward; }
.fa-fast-backward:before { content: $fa-var-fast-backward; }
.fa-backward:before { content: $fa-var-backward; }
.fa-play:before { content: $fa-var-play; }
.fa-pause:before { content: $fa-var-pause; }
.fa-stop:before { content: $fa-var-stop; }
.fa-forward:before { content: $fa-var-forward; }
.fa-fast-forward:before { content: $fa-var-fast-forward; }
.fa-step-forward:before { content: $fa-var-step-forward; }
.fa-eject:before { content: $fa-var-eject; }
.fa-chevron-left:before { content: $fa-var-chevron-left; }
.fa-chevron-right:before { content: $fa-var-chevron-right; }
.fa-plus-circle:before { content: $fa-var-plus-circle; }
.fa-minus-circle:before { content: $fa-var-minus-circle; }
.fa-times-circle:before { content: $fa-var-times-circle; }
.fa-check-circle:before { content: $fa-var-check-circle; }
.fa-question-circle:before { content: $fa-var-question-circle; }
.fa-info-circle:before { content: $fa-var-info-circle; }
.fa-crosshairs:before { content: $fa-var-crosshairs; }
.fa-times-circle-o:before { content: $fa-var-times-circle-o; }
.fa-check-circle-o:before { content: $fa-var-check-circle-o; }
.fa-ban:before { content: $fa-var-ban; }
.fa-arrow-left:before { content: $fa-var-arrow-left; }
.fa-arrow-right:before { content: $fa-var-arrow-right; }
.fa-arrow-up:before { content: $fa-var-arrow-up; }
.fa-arrow-down:before { content: $fa-var-arrow-down; }
.fa-mail-forward:before,
.fa-share:before { content: $fa-var-share; }
.fa-expand:before { content: $fa-var-expand; }
.fa-compress:before { content: $fa-var-compress; }
.fa-plus:before { content: $fa-var-plus; }
.fa-minus:before { content: $fa-var-minus; }
.fa-asterisk:before { content: $fa-var-asterisk; }
.fa-exclamation-circle:before { content: $fa-var-exclamation-circle; }
.fa-gift:before { content: $fa-var-gift; }
.fa-leaf:before { content: $fa-var-leaf; }
.fa-fire:before { content: $fa-var-fire; }
.fa-eye:before { content: $fa-var-eye; }
.fa-eye-slash:before { content: $fa-var-eye-slash; }
.fa-warning:before,
.fa-exclamation-triangle:before { content: $fa-var-exclamation-triangle; }
.fa-plane:before { content: $fa-var-plane; }
.fa-calendar:before { content: $fa-var-calendar; }
.fa-random:before { content: $fa-var-random; }
.fa-comment:before { content: $fa-var-comment; }
.fa-magnet:before { content: $fa-var-magnet; }
.fa-chevron-up:before { content: $fa-var-chevron-up; }
.fa-chevron-down:before { content: $fa-var-chevron-down; }
.fa-retweet:before { content: $fa-var-retweet; }
.fa-shopping-cart:before { content: $fa-var-shopping-cart; }
.fa-folder:before { content: $fa-var-folder; }
.fa-folder-open:before { content: $fa-var-folder-open; }
.fa-arrows-v:before { content: $fa-var-arrows-v; }
.fa-arrows-h:before { content: $fa-var-arrows-h; }
.fa-bar-chart-o:before { content: $fa-var-bar-chart-o; }
.fa-twitter-square:before { content: $fa-var-twitter-square; }
.fa-facebook-square:before { content: $fa-var-facebook-square; }
.fa-camera-retro:before { content: $fa-var-camera-retro; }
.fa-key:before { content: $fa-var-key; }
.fa-gears:before,
.fa-cogs:before { content: $fa-var-cogs; }
.fa-comments:before { content: $fa-var-comments; }
.fa-thumbs-o-up:before { content: $fa-var-thumbs-o-up; }
.fa-thumbs-o-down:before { content: $fa-var-thumbs-o-down; }
.fa-star-half:before { content: $fa-var-star-half; }
.fa-heart-o:before { content: $fa-var-heart-o; }
.fa-sign-out:before { content: $fa-var-sign-out; }
.fa-linkedin-square:before { content: $fa-var-linkedin-square; }
.fa-thumb-tack:before { content: $fa-var-thumb-tack; }
.fa-external-link:before { content: $fa-var-external-link; }
.fa-sign-in:before { content: $fa-var-sign-in; }
.fa-trophy:before { content: $fa-var-trophy; }
.fa-github-square:before { content: $fa-var-github-square; }
.fa-upload:before { content: $fa-var-upload; }
.fa-lemon-o:before { content: $fa-var-lemon-o; }
.fa-phone:before { content: $fa-var-phone; }
.fa-square-o:before { content: $fa-var-square-o; }
.fa-bookmark-o:before { content: $fa-var-bookmark-o; }
.fa-phone-square:before { content: $fa-var-phone-square; } */
/* line 157, ../sass/vendors/font-awesome/_icons.scss */
.fa-twitter:before {
  content: "\f099";
}

/* .fa-facebook:before { content: $fa-var-facebook; } */
/* line 159, ../sass/vendors/font-awesome/_icons.scss */
.fa-github:before {
  content: "\f09b";
}

/* .fa-unlock:before { content: $fa-var-unlock; }
.fa-credit-card:before { content: $fa-var-credit-card; }
.fa-rss:before { content: $fa-var-rss; }
.fa-hdd-o:before { content: $fa-var-hdd-o; }
.fa-bullhorn:before { content: $fa-var-bullhorn; }
.fa-bell:before { content: $fa-var-bell; }
.fa-certificate:before { content: $fa-var-certificate; }
.fa-hand-o-right:before { content: $fa-var-hand-o-right; }
.fa-hand-o-left:before { content: $fa-var-hand-o-left; }
.fa-hand-o-up:before { content: $fa-var-hand-o-up; }
.fa-hand-o-down:before { content: $fa-var-hand-o-down; }
.fa-arrow-circle-left:before { content: $fa-var-arrow-circle-left; }
.fa-arrow-circle-right:before { content: $fa-var-arrow-circle-right; }
.fa-arrow-circle-up:before { content: $fa-var-arrow-circle-up; }
.fa-arrow-circle-down:before { content: $fa-var-arrow-circle-down; }
.fa-globe:before { content: $fa-var-globe; }
.fa-wrench:before { content: $fa-var-wrench; }
.fa-tasks:before { content: $fa-var-tasks; }
.fa-filter:before { content: $fa-var-filter; }
.fa-briefcase:before { content: $fa-var-briefcase; }
.fa-arrows-alt:before { content: $fa-var-arrows-alt; }
.fa-group:before,
.fa-users:before { content: $fa-var-users; }
.fa-chain:before,
.fa-link:before { content: $fa-var-link; }
.fa-cloud:before { content: $fa-var-cloud; }
.fa-flask:before { content: $fa-var-flask; }
.fa-cut:before,
.fa-scissors:before { content: $fa-var-scissors; }
.fa-copy:before,
.fa-files-o:before { content: $fa-var-files-o; }
.fa-paperclip:before { content: $fa-var-paperclip; }
.fa-save:before,
.fa-floppy-o:before { content: $fa-var-floppy-o; }
.fa-square:before { content: $fa-var-square; }
.fa-bars:before { content: $fa-var-bars; }
.fa-list-ul:before { content: $fa-var-list-ul; }
.fa-list-ol:before { content: $fa-var-list-ol; }
.fa-strikethrough:before { content: $fa-var-strikethrough; }
.fa-underline:before { content: $fa-var-underline; }
.fa-table:before { content: $fa-var-table; }
.fa-magic:before { content: $fa-var-magic; }
.fa-truck:before { content: $fa-var-truck; }
.fa-pinterest:before { content: $fa-var-pinterest; }
.fa-pinterest-square:before { content: $fa-var-pinterest-square; }
.fa-google-plus-square:before { content: $fa-var-google-plus-square; }
.fa-google-plus:before { content: $fa-var-google-plus; }
.fa-money:before { content: $fa-var-money; }
.fa-caret-down:before { content: $fa-var-caret-down; }
.fa-caret-up:before { content: $fa-var-caret-up; }
.fa-caret-left:before { content: $fa-var-caret-left; }
.fa-caret-right:before { content: $fa-var-caret-right; }
.fa-columns:before { content: $fa-var-columns; }
.fa-unsorted:before,
.fa-sort:before { content: $fa-var-sort; }
.fa-sort-down:before,
.fa-sort-asc:before { content: $fa-var-sort-asc; }
.fa-sort-up:before,
.fa-sort-desc:before { content: $fa-var-sort-desc; }
.fa-envelope:before { content: $fa-var-envelope; }
.fa-linkedin:before { content: $fa-var-linkedin; }
.fa-rotate-left:before,
.fa-undo:before { content: $fa-var-undo; }
.fa-legal:before,
.fa-gavel:before { content: $fa-var-gavel; }
.fa-dashboard:before,
.fa-tachometer:before { content: $fa-var-tachometer; }
.fa-comment-o:before { content: $fa-var-comment-o; }
.fa-comments-o:before { content: $fa-var-comments-o; }
.fa-flash:before,
.fa-bolt:before { content: $fa-var-bolt; }
.fa-sitemap:before { content: $fa-var-sitemap; }
.fa-umbrella:before { content: $fa-var-umbrella; }
.fa-paste:before,
.fa-clipboard:before { content: $fa-var-clipboard; }
.fa-lightbulb-o:before { content: $fa-var-lightbulb-o; }
.fa-exchange:before { content: $fa-var-exchange; }
.fa-cloud-download:before { content: $fa-var-cloud-download; }
.fa-cloud-upload:before { content: $fa-var-cloud-upload; }
.fa-user-md:before { content: $fa-var-user-md; }
.fa-stethoscope:before { content: $fa-var-stethoscope; }
.fa-suitcase:before { content: $fa-var-suitcase; }
.fa-bell-o:before { content: $fa-var-bell-o; }
.fa-coffee:before { content: $fa-var-coffee; }
.fa-cutlery:before { content: $fa-var-cutlery; }
.fa-file-text-o:before { content: $fa-var-file-text-o; }
.fa-building-o:before { content: $fa-var-building-o; }
.fa-hospital-o:before { content: $fa-var-hospital-o; }
.fa-ambulance:before { content: $fa-var-ambulance; }
.fa-medkit:before { content: $fa-var-medkit; }
.fa-fighter-jet:before { content: $fa-var-fighter-jet; }
.fa-beer:before { content: $fa-var-beer; }
.fa-h-square:before { content: $fa-var-h-square; }
.fa-plus-square:before { content: $fa-var-plus-square; }
.fa-angle-double-left:before { content: $fa-var-angle-double-left; }
.fa-angle-double-right:before { content: $fa-var-angle-double-right; }
.fa-angle-double-up:before { content: $fa-var-angle-double-up; }
.fa-angle-double-down:before { content: $fa-var-angle-double-down; }
.fa-angle-left:before { content: $fa-var-angle-left; }
.fa-angle-right:before { content: $fa-var-angle-right; }
.fa-angle-up:before { content: $fa-var-angle-up; }
.fa-angle-down:before { content: $fa-var-angle-down; }
.fa-desktop:before { content: $fa-var-desktop; }
.fa-laptop:before { content: $fa-var-laptop; }
.fa-tablet:before { content: $fa-var-tablet; }
.fa-mobile-phone:before,
.fa-mobile:before { content: $fa-var-mobile; }
.fa-circle-o:before { content: $fa-var-circle-o; }
.fa-quote-left:before { content: $fa-var-quote-left; }
.fa-quote-right:before { content: $fa-var-quote-right; }
.fa-spinner:before { content: $fa-var-spinner; }
.fa-circle:before { content: $fa-var-circle; }
.fa-mail-reply:before,
.fa-reply:before { content: $fa-var-reply; }
.fa-github-alt:before { content: $fa-var-github-alt; }
.fa-folder-o:before { content: $fa-var-folder-o; }
.fa-folder-open-o:before { content: $fa-var-folder-open-o; }
.fa-smile-o:before { content: $fa-var-smile-o; }
.fa-frown-o:before { content: $fa-var-frown-o; }
.fa-meh-o:before { content: $fa-var-meh-o; }
.fa-gamepad:before { content: $fa-var-gamepad; }
.fa-keyboard-o:before { content: $fa-var-keyboard-o; }
.fa-flag-o:before { content: $fa-var-flag-o; }
.fa-flag-checkered:before { content: $fa-var-flag-checkered; }
.fa-terminal:before { content: $fa-var-terminal; }
.fa-code:before { content: $fa-var-code; }
.fa-reply-all:before { content: $fa-var-reply-all; }
.fa-mail-reply-all:before { content: $fa-var-mail-reply-all; }
.fa-star-half-empty:before,
.fa-star-half-full:before,
.fa-star-half-o:before { content: $fa-var-star-half-o; }
.fa-location-arrow:before { content: $fa-var-location-arrow; }
.fa-crop:before { content: $fa-var-crop; }
.fa-code-fork:before { content: $fa-var-code-fork; }
.fa-unlink:before,
.fa-chain-broken:before { content: $fa-var-chain-broken; }
.fa-question:before { content: $fa-var-question; }
.fa-info:before { content: $fa-var-info; }
.fa-exclamation:before { content: $fa-var-exclamation; }
.fa-superscript:before { content: $fa-var-superscript; }
.fa-subscript:before { content: $fa-var-subscript; }
.fa-eraser:before { content: $fa-var-eraser; }
.fa-puzzle-piece:before { content: $fa-var-puzzle-piece; }
.fa-microphone:before { content: $fa-var-microphone; }
.fa-microphone-slash:before { content: $fa-var-microphone-slash; }
.fa-shield:before { content: $fa-var-shield; }
.fa-calendar-o:before { content: $fa-var-calendar-o; }
.fa-fire-extinguisher:before { content: $fa-var-fire-extinguisher; }
.fa-rocket:before { content: $fa-var-rocket; }
.fa-maxcdn:before { content: $fa-var-maxcdn; }
.fa-chevron-circle-left:before { content: $fa-var-chevron-circle-left; }
.fa-chevron-circle-right:before { content: $fa-var-chevron-circle-right; }
.fa-chevron-circle-up:before { content: $fa-var-chevron-circle-up; }
.fa-chevron-circle-down:before { content: $fa-var-chevron-circle-down; }
.fa-html5:before { content: $fa-var-html5; }
.fa-css3:before { content: $fa-var-css3; }
.fa-anchor:before { content: $fa-var-anchor; }
.fa-unlock-alt:before { content: $fa-var-unlock-alt; }
.fa-bullseye:before { content: $fa-var-bullseye; }
.fa-ellipsis-h:before { content: $fa-var-ellipsis-h; }
.fa-ellipsis-v:before { content: $fa-var-ellipsis-v; }
.fa-rss-square:before { content: $fa-var-rss-square; }
.fa-play-circle:before { content: $fa-var-play-circle; }
.fa-ticket:before { content: $fa-var-ticket; }
.fa-minus-square:before { content: $fa-var-minus-square; }
.fa-minus-square-o:before { content: $fa-var-minus-square-o; }
.fa-level-up:before { content: $fa-var-level-up; }
.fa-level-down:before { content: $fa-var-level-down; }
.fa-check-square:before { content: $fa-var-check-square; }
.fa-pencil-square:before { content: $fa-var-pencil-square; }
.fa-external-link-square:before { content: $fa-var-external-link-square; }
.fa-share-square:before { content: $fa-var-share-square; }
.fa-compass:before { content: $fa-var-compass; }
.fa-toggle-down:before,
.fa-caret-square-o-down:before { content: $fa-var-caret-square-o-down; }
.fa-toggle-up:before,
.fa-caret-square-o-up:before { content: $fa-var-caret-square-o-up; }
.fa-toggle-right:before,
.fa-caret-square-o-right:before { content: $fa-var-caret-square-o-right; }
.fa-euro:before,
.fa-eur:before { content: $fa-var-eur; }
.fa-gbp:before { content: $fa-var-gbp; }
.fa-dollar:before,
.fa-usd:before { content: $fa-var-usd; }
.fa-rupee:before,
.fa-inr:before { content: $fa-var-inr; }
.fa-cny:before,
.fa-rmb:before,
.fa-yen:before,
.fa-jpy:before { content: $fa-var-jpy; }
.fa-ruble:before,
.fa-rouble:before,
.fa-rub:before { content: $fa-var-rub; }
.fa-won:before,
.fa-krw:before { content: $fa-var-krw; }
.fa-bitcoin:before,
.fa-btc:before { content: $fa-var-btc; }
.fa-file:before { content: $fa-var-file; }
.fa-file-text:before { content: $fa-var-file-text; }
.fa-sort-alpha-asc:before { content: $fa-var-sort-alpha-asc; }
.fa-sort-alpha-desc:before { content: $fa-var-sort-alpha-desc; }
.fa-sort-amount-asc:before { content: $fa-var-sort-amount-asc; }
.fa-sort-amount-desc:before { content: $fa-var-sort-amount-desc; }
.fa-sort-numeric-asc:before { content: $fa-var-sort-numeric-asc; }
.fa-sort-numeric-desc:before { content: $fa-var-sort-numeric-desc; }
.fa-thumbs-up:before { content: $fa-var-thumbs-up; }
.fa-thumbs-down:before { content: $fa-var-thumbs-down; }
.fa-youtube-square:before { content: $fa-var-youtube-square; }
.fa-youtube:before { content: $fa-var-youtube; }
.fa-xing:before { content: $fa-var-xing; }
.fa-xing-square:before { content: $fa-var-xing-square; }
.fa-youtube-play:before { content: $fa-var-youtube-play; }
.fa-dropbox:before { content: $fa-var-dropbox; }
.fa-stack-overflow:before { content: $fa-var-stack-overflow; }
.fa-instagram:before { content: $fa-var-instagram; }
.fa-flickr:before { content: $fa-var-flickr; }
.fa-adn:before { content: $fa-var-adn; }
.fa-bitbucket:before { content: $fa-var-bitbucket; }
.fa-bitbucket-square:before { content: $fa-var-bitbucket-square; }
.fa-tumblr:before { content: $fa-var-tumblr; }
.fa-tumblr-square:before { content: $fa-var-tumblr-square; }
.fa-long-arrow-down:before { content: $fa-var-long-arrow-down; }
.fa-long-arrow-up:before { content: $fa-var-long-arrow-up; }
.fa-long-arrow-left:before { content: $fa-var-long-arrow-left; }
.fa-long-arrow-right:before { content: $fa-var-long-arrow-right; }
.fa-apple:before { content: $fa-var-apple; }
.fa-windows:before { content: $fa-var-windows; }
.fa-android:before { content: $fa-var-android; }
.fa-linux:before { content: $fa-var-linux; }
.fa-dribbble:before { content: $fa-var-dribbble; }
.fa-skype:before { content: $fa-var-skype; }
.fa-foursquare:before { content: $fa-var-foursquare; }
.fa-trello:before { content: $fa-var-trello; }
.fa-female:before { content: $fa-var-female; }
.fa-male:before { content: $fa-var-male; }
.fa-gittip:before { content: $fa-var-gittip; }
.fa-sun-o:before { content: $fa-var-sun-o; }
.fa-moon-o:before { content: $fa-var-moon-o; }
.fa-archive:before { content: $fa-var-archive; }
.fa-bug:before { content: $fa-var-bug; }
.fa-vk:before { content: $fa-var-vk; }
.fa-weibo:before { content: $fa-var-weibo; }
.fa-renren:before { content: $fa-var-renren; }
.fa-pagelines:before { content: $fa-var-pagelines; }
.fa-stack-exchange:before { content: $fa-var-stack-exchange; }
.fa-arrow-circle-o-right:before { content: $fa-var-arrow-circle-o-right; }
.fa-arrow-circle-o-left:before { content: $fa-var-arrow-circle-o-left; }
.fa-toggle-left:before,
.fa-caret-square-o-left:before { content: $fa-var-caret-square-o-left; }
.fa-dot-circle-o:before { content: $fa-var-dot-circle-o; }
.fa-wheelchair:before { content: $fa-var-wheelchair; }
.fa-vimeo-square:before { content: $fa-var-vimeo-square; }
.fa-turkish-lira:before,
.fa-try:before { content: $fa-var-try; }
.fa-plus-square-o:before { content: $fa-var-plus-square-o; } */
/* 
 * 
 * we should declare some variables and mixins
 *
 */
/* let's start with the typography */
/* @mixin variant_typeface{
	font-family: "NuOrder Regular", Arial, sans-serif;
	font-size-adjust: 0.5;
	font-style: normal;
	font-weight: 400;
} */
/* and a default indent for paragraphs and lists */
/* that was fun; let's try some colours next */
/* orange */
/* orange but with 25% more added black */
/* social media colours */
/*
 *
 * I think we should probably establish a baseline 
 *
 */
/* line 61, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
* html {
  font-size: 112.5%;
}

/* line 64, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 18px;
  line-height: 1.5em;
}

/*
 *
 * Next, we'll need some breakpoints
 *
 */
/* These are minor ones, for adjusting headings and small changes to the layout */
/* These are major ones for switching layouts - determined by line-length */
/* standard typographical elements */
/* line 3, ../sass/archive/_typography.scss */
body {
  font-family: "Enigma Regular", Georgia, 'Times New Roman', Times, serif;
  font-size-adjust: 0.44;
  font-weight: normal;
  font-style: normal;
  color: #2b2b2b;
}

/* line 9, ../sass/archive/_typography.scss */
em,
i {
  font-family: "Enigma Italic", Georgia, 'Times New Roman', Times, serif;
  font-size-adjust: 0.46;
  font-weight: normal;
  font-style: italic;
}

/* line 14, ../sass/archive/_typography.scss */
b,
strong {
  font-family: "Enigma Bold", Georgia, 'Times New Roman', Times, serif;
  font-size-adjust: 0.45;
  font-weight: bold;
  font-style: normal;
}

/* line 23, ../sass/archive/_typography.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "FS Clerkenwell Web Regular", Georgia, serif;
  font-size-adjust: 0.457;
  font-weight: normal;
  font-style: normal;
  clear: both;
}

/* line 28, ../sass/archive/_typography.scss */
h1 {
  font-size: 2em;
  line-height: 1.5em;
  line-height: 1.065em;
}

/* line 33, ../sass/archive/_typography.scss */
h2 {
  font-size: 1.4em;
  line-height: 2.14286em;
  line-height: 1.065em;
  margin-top: 1.125em;
  margin-bottom: 0.375em;
}
@media screen and (min-width: 61em) {
  /* line 38, ../sass/archive/_typography.scss */
  .secondary h2 {
    margin-top: 0em;
    padding-bottom: 0.225em;
  }
}
@media screen and (min-width: 61em) {
  /* line 44, ../sass/archive/_typography.scss */
  nav h2 {
    border-bottom: 1px solid #cacaca;
  }
}
/* line 49, ../sass/archive/_typography.scss */
footer h2 {
  font-size: 1.2em;
  line-height: 1.25em;
  margin-top: 0em;
  margin-bottom: 0.375em;
}
@media screen and (min-width: 61em) {
  /* line 49, ../sass/archive/_typography.scss */
  footer h2 {
    border-bottom: 1px solid #cacaca;
  }
}
/* line 57, ../sass/archive/_typography.scss */
footer h2 {
  margin-top: 0em;
  font-size: 1.2em;
  line-height: 1.25em;
}

/* line 63, ../sass/archive/_typography.scss */
h3 {
  font-size: 1.2em;
  line-height: 1.25em;
  line-height: 1.065em;
  margin-top: 1.125em;
  margin-bottom: 0.375em;
}

/* line 76, ../sass/archive/_typography.scss */
.lede,
.standfirst,
h2 + p,
h3 + p,
h4 + p,
h5 + p,
h6 + p {
  text-indent: 0;
}

/* line 80, ../sass/archive/_typography.scss */
p {
  text-indent: 3%;
  clear: both;
}
/* line 84, ../sass/archive/_typography.scss */
p.lede, p.standfirst {
  font-size: 1.1em;
  line-height: 1.36364em;
  line-height: 1.65em;
  margin-bottom: 1.5em;
}
/* line 90, ../sass/archive/_typography.scss */
p.meta, p.share {
  font-family: "Enigma Italic", Georgia, 'Times New Roman', Times, serif;
  font-size-adjust: 0.46;
  font-weight: normal;
  font-style: italic;
  margin-top: 0.375em;
}
/* line 93, ../sass/archive/_typography.scss */
p.meta time, p.share time {
  font-family: "Enigma Bold", Georgia, 'Times New Roman', Times, serif;
  font-size-adjust: 0.45;
  font-weight: bold;
  font-style: normal;
}
/* line 97, ../sass/archive/_typography.scss */
p.share {
  margin-top: 0.75em;
}
@media screen and (min-width: 43em) {
  /* line 97, ../sass/archive/_typography.scss */
  p.share {
    margin-bottom: 1.5em;
  }
}
/* line 103, ../sass/archive/_typography.scss */
footer p {
  text-indent: 0;
}
/* line 105, ../sass/archive/_typography.scss */
footer p.share {
  line-height: 1.065em;
  margin-top: 0em;
}
/* line 111, ../sass/archive/_typography.scss */
footer[role=contentinfo] p {
  padding-bottom: 0.75em;
}

/* line 116, ../sass/archive/_typography.scss */
a[rel=endnote] {
  font-size: 0.7em;
  line-height: 2.14286em;
  vertical-align: super;
}

/* line 122, ../sass/archive/_typography.scss */
small,
.endnotes {
  font-size: 0.9em;
  line-height: 1.66667em;
}

/* template and section specific overrides */
/* line 128, ../sass/archive/_typography.scss */
header[role=banner] {
  overflow: hidden;
  *zoom: 1;
  font-family: "FS Clerkenwell Web Regular", Georgia, serif;
  font-size-adjust: 0.457;
  font-weight: normal;
  font-style: normal;
  text-align: center;
}
/* line 132, ../sass/archive/_typography.scss */
header[role=banner] .logotype {
  font-size: 1.4em;
  line-height: 2.14286em;
}
@media screen and (min-width: 37em) {
  /* line 132, ../sass/archive/_typography.scss */
  header[role=banner] .logotype {
    font-size: 1.5em;
    line-height: 2em;
    text-align: left;
  }
}
/* line 139, ../sass/archive/_typography.scss */
header[role=banner] nav {
  text-transform: uppercase;
  font-size: 1.2em;
  line-height: 1.25em;
}
@media screen and (min-width: 37em) {
  /* line 139, ../sass/archive/_typography.scss */
  header[role=banner] nav {
    font-size: 1.4em;
    line-height: 2.14286em;
    text-transform: capitalize;
  }
}

/* line 151, ../sass/archive/_typography.scss */
.content ul,
.content ol {
  margin-top: 0.75em;
  margin-bottom: 0.75em;
  list-style-position: inside;
}
@media screen and (max-width: 43em) {
  /* line 151, ../sass/archive/_typography.scss */
  .content ul,
  .content ol {
    padding-left: 3%;
  }
}
@media screen and (min-width: 43em) {
  /* line 151, ../sass/archive/_typography.scss */
  .content ul,
  .content ol {
    list-style-position: outside;
  }
}
/* line 162, ../sass/archive/_typography.scss */
.content ul {
  list-style-type: square;
}
/* line 165, ../sass/archive/_typography.scss */
.content ol {
  list-style-type: decimal;
}

/* line 170, ../sass/archive/_typography.scss */
.endnotes {
  list-style: inside decimal;
}

/* line 174, ../sass/archive/_typography.scss */
li {
  line-height: 1.275em;
  margin-bottom: 0.375em;
}

/* line 179, ../sass/archive/_typography.scss */
footer[role=contentinfo] {
  margin-top: 1.5em;
  padding-top: 0.75em;
  padding-bottom: 0.75em;
  /* small ul{
  	@media screen and (min-width : $break-larger){
  		text-align: right;
  	}
  } */
}

/* Default styles - links contained within text are the default font colour to make reading easier */
/* a{
	&:link{
		border-bottom: 1px solid $theme_accent;
		color: $theme_accent;
		padding-bottom: .1em;
		text-decoration: none;
	}
	&:visited{

	}
	&:hover{
		color: $primary_theme_colour;
		border-bottom: 1px solid $theme_accent;
	}
	&:active{
	}
	.logotype &{
		color: $primary_font_colour;
		border-bottom: none;
	}
	[role=navigation] &{
		color: $primary_font_colour;
		border: none;
		padding-bottom: none;
		&:hover{
			color: $primary_theme_colour;
		}
	}
	.post &{
		border-bottom: 1px solid $primary_font_colour;
		color: $primary_font_colour;
		&:hover{
			background: red;
		}
	}
	.secondary ul &,
	.contact ul &{
		border: none;
	}
} */
/* for reasons of maintenance and prevention of banging head against wall, I'm going to be very specific about link styles */
/* the only two constants: no text decoration, and a little easing */
/* line 48, ../sass/archive/_anchors.scss */
a {
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  text-decoration: none;
}

/* and from this point on it's all about context ... */
/* global header */
/* line 59, ../sass/archive/_anchors.scss */
a.logotype:link, a.logotype:visited {
  color: #2b2b2b;
}
/* line 61, ../sass/archive/_anchors.scss */
a.logotype:link span, a.logotype:visited span {
  color: #ff5b00;
}
/* line 66, ../sass/archive/_anchors.scss */
a.logotype:hover, a.logotype:active {
  color: #ff5b00;
}

/* main navigation */
/* line 72, ../sass/archive/_anchors.scss */
nav[role=navigation] a {
  z-index: 999;
}
/* line 75, ../sass/archive/_anchors.scss */
nav[role=navigation] a:link, nav[role=navigation] a:visited {
  color: #2b2b2b;
  opacity: .75;
}
/* line 78, ../sass/archive/_anchors.scss */
nav[role=navigation] a:link.current, nav[role=navigation] a:visited.current {
  opacity: 1;
  padding-top: .25em;
}
/* line 84, ../sass/archive/_anchors.scss */
nav[role=navigation] a:hover, nav[role=navigation] a:active {
  color: #ff5b00;
  opacity: 1;
}
/* line 88, ../sass/archive/_anchors.scss */
.home nav[role=navigation] a {
  opacity: 1;
}

/* content and anything else in paragraphs */
/* line 99, ../sass/archive/_anchors.scss */
article a:link, article a:visited,
.colophon a:link,
.colophon a:visited,
small p a:link,
small p a:visited {
  border-bottom: 1px solid #bf4400;
  color: #bf4400;
  padding-bottom: 1px;
}
/* line 105, ../sass/archive/_anchors.scss */
article a:hover, article a:active,
.colophon a:hover,
.colophon a:active,
small p a:hover,
small p a:active {
  border-bottom: 1px solid #ff5b00;
  color: #ff5b00;
}

/* secondary navigation */
/* line 118, ../sass/archive/_anchors.scss */
.secondary ul a:link, .secondary ul a:visited,
.contact a:link,
.contact a:visited,
.at-large a:link,
.at-large a:visited,
small ul a:link,
small ul a:visited {
  color: #bf4400;
}
/* line 122, ../sass/archive/_anchors.scss */
.secondary ul a:hover, .secondary ul a:active,
.contact a:hover,
.contact a:active,
.at-large a:hover,
.at-large a:active,
small ul a:hover,
small ul a:active {
  border-bottom: 1px solid #ff5b00;
  color: #ff5b00;
}

/* line 130, ../sass/archive/_anchors.scss */
p.share a:link, p.share a:visited {
  border: none;
}

/* and finally remove the border for endnotes */
/* line 142, ../sass/archive/_anchors.scss */
a[rel=endnote]:link, a[rel=endnote]:visited, a[rel=endnote]:hover, a[rel=endnote]:active,
.excerpt h2 a:link,
.excerpt h2 a:visited,
.excerpt h2 a:hover,
.excerpt h2 a:active {
  border: none;
}

/* line 2, ../sass/archive/_icons.scss */
.fa-facebook,
.fa-facebook-square {
  color: #3b5998;
}

/* line 6, ../sass/archive/_icons.scss */
.fa-twitter {
  color: #55acee;
}

/* line 11, ../sass/archive/_icons.scss */
.fa-rocket,
.fa-building-o {
  color: #ff5b00;
}

/* primary navigation */
/* line 5, ../sass/archive/_navigation.scss */
.primary ul li {
  display: inline;
}
/* line 7, ../sass/archive/_navigation.scss */
.primary ul li:after {
  color: #165f8f;
  content: " /";
}
/* line 11, ../sass/archive/_navigation.scss */
.primary ul li:last-child {
  padding-right: none;
}
/* line 13, ../sass/archive/_navigation.scss */
.primary ul li:last-child:after {
  content: "";
}

/* secondary navigation */
/* line 23, ../sass/archive/_navigation.scss */
.secondary {
  overflow: hidden;
  *zoom: 1;
  display: block;
  float: left;
  margin-left: 0;
  margin-right: -100%;
  width: 100%;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  border-top: 2px solid #cacaca;
  clear: both;
}
@media screen and (min-width: 37em) {
  /* line 32, ../sass/archive/_navigation.scss */
  .secondary section:first-of-type {
    display: block;
    float: left;
    margin-left: 0;
    margin-right: -100%;
    width: 48.5%;
  }
  /* line 39, ../sass/archive/_navigation.scss */
  .secondary section:last-of-type {
    display: block;
    float: left;
    margin-left: 51.5%;
    margin-right: -100%;
    width: 48.5%;
  }
}
@media screen and (min-width: 37em) and (min-width: 61em) {
  /* line 32, ../sass/archive/_navigation.scss */
  .secondary section:first-of-type {
    display: block;
    float: left;
    margin-left: 0;
    margin-right: -100%;
    width: 100%;
    clear: both;
  }
}
@media screen and (min-width: 37em) and (min-width: 61em) {
  /* line 39, ../sass/archive/_navigation.scss */
  .secondary section:last-of-type {
    display: block;
    float: left;
    margin-left: 0;
    margin-right: -100%;
    width: 100%;
    clear: both;
  }
}
@media screen and (min-width: 61em) {
  /* line 23, ../sass/archive/_navigation.scss */
  .secondary {
    border: none;
    clear: none;
    display: block;
    float: left;
    margin-left: 82.4%;
    margin-right: -100%;
    width: 17.6%;
    margin-top: 9.75em;
    margin-bottom: 0em;
  }
  /* line 54, ../sass/archive/_navigation.scss */
  .secondary section {
    margin-bottom: 1.5em;
  }
}

/* footer navigation */
/* line 62, ../sass/archive/_navigation.scss */
.contact {
  margin-bottom: 0.75em;
}

/* line 66, ../sass/archive/_navigation.scss */
.contact ul {
  margin-bottom: 1.5em;
}

/* line 71, ../sass/archive/_navigation.scss */
small ul li {
  display: inline;
}
/* line 73, ../sass/archive/_navigation.scss */
small ul li:after {
  color: #165f8f;
  content: " /";
}
/* line 77, ../sass/archive/_navigation.scss */
small ul li:last-child {
  padding-right: none;
}
/* line 79, ../sass/archive/_navigation.scss */
small ul li:last-child:after {
  content: "";
}

/* Images */
/* line 6, ../sass/archive/_media.scss */
img,
object,
embed,
iframe {
  clear: both;
  max-width: 100%;
}
/* line 9, ../sass/archive/_media.scss */
img.hero,
object.hero,
embed.hero,
iframe.hero {
  margin-bottom: 1.5em;
}
/* line 12, ../sass/archive/_media.scss */
.content img, .content
object, .content
embed, .content
iframe {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

/* line 1, ../sass/archive/_layout.scss */
body {
  border-top: 4px solid #ff5b00;
}

/* line 5, ../sass/archive/_layout.scss */
.wrap {
  margin: 0 auto;
  width: 85%;
}
@media screen and (min-width: 72em) {
  /* line 5, ../sass/archive/_layout.scss */
  .wrap {
    max-width: 72em;
  }
}

/* line 13, ../sass/archive/_layout.scss */
header[role=banner] {
  overflow: hidden;
  *zoom: 1;
  margin-bottom: 1.5em;
}
@media screen and (min-width: 43em) {
  /* line 13, ../sass/archive/_layout.scss */
  header[role=banner] {
    margin-bottom: 4.5em;
  }
}
@media screen and (min-width: 43em) {
  /* line 19, ../sass/archive/_layout.scss */
  header[role=banner] .logotype {
    display: block;
    float: left;
    margin-left: 0;
    margin-right: -100%;
    width: 48.5%;
  }
}
@media screen and (min-width: 43em) {
  /* line 24, ../sass/archive/_layout.scss */
  header[role=banner] nav {
    display: block;
    float: left;
    margin-left: 51.5%;
    margin-right: -100%;
    width: 48.5%;
  }
}

/* line 31, ../sass/archive/_layout.scss */
article {
  overflow: hidden;
  *zoom: 1;
  display: block;
  float: left;
  margin-left: 0;
  margin-right: -100%;
  width: 100%;
}
@media screen and (min-width: 61em) {
  /* line 31, ../sass/archive/_layout.scss */
  article {
    display: block;
    float: left;
    margin-left: 0;
    margin-right: -100%;
    width: 79.4%;
  }
}
/* line 37, ../sass/archive/_layout.scss */
article header {
  margin-bottom: 1.875em;
}
@media screen and (min-width: 61em) {
  /* line 37, ../sass/archive/_layout.scss */
  article header {
    display: block;
    float: left;
    margin-left: 25.94458%;
    margin-right: -100%;
    width: 74.05542%;
    clear: left;
  }
}
@media screen and (min-width: 61em) {
  /* line 45, ../sass/archive/_layout.scss */
  article .lede,
  article .standfirst {
    display: block;
    float: left;
    margin-left: 25.94458%;
    margin-right: -100%;
    width: 74.05542%;
    clear: left;
  }
}
@media screen and (min-width: 61em) {
  /* line 51, ../sass/archive/_layout.scss */
  article .hero {
    overflow: hidden;
    *zoom: 1;
    display: block;
    float: left;
    margin-left: 0;
    margin-right: -100%;
    width: 100%;
    clear: left;
  }
}
/* line 58, ../sass/archive/_layout.scss */
article .content {
  margin-bottom: 2.25em;
}
@media screen and (min-width: 43em) {
  /* line 58, ../sass/archive/_layout.scss */
  article .content {
    display: block;
    float: left;
    margin-left: 20.6%;
    margin-right: -100%;
    width: 79.4%;
  }
}
@media screen and (min-width: 61em) {
  /* line 58, ../sass/archive/_layout.scss */
  article .content {
    display: block;
    float: left;
    margin-left: 25.94458%;
    margin-right: -100%;
    width: 74.05542%;
    clear: left;
  }
}
@media screen and (min-width: 43em) {
  /* line 68, ../sass/archive/_layout.scss */
  article footer {
    display: block;
    float: left;
    margin-left: 0;
    margin-right: -100%;
    width: 17.6%;
  }
}
@media screen and (min-width: 43em) and (min-width: 61em) {
  /* line 68, ../sass/archive/_layout.scss */
  article footer {
    display: block;
    float: left;
    margin-left: 0;
    margin-right: -100%;
    width: 22.16625%;
  }
}

/* line 78, ../sass/archive/_layout.scss */
div.excerpt {
  overflow: hidden;
  *zoom: 1;
  clear: both;
}
@media screen and (min-width: 43em) {
  /* line 83, ../sass/archive/_layout.scss */
  div.excerpt:nth-of-type(odd) {
    display: block;
    float: left;
    margin-left: 0;
    margin-right: -100%;
    width: 48.5%;
    clear: left;
  }
  /* line 86, ../sass/archive/_layout.scss */
  div.excerpt:nth-of-type(odd) header {
    display: block;
    float: left;
    margin-left: 0;
    margin-right: -100%;
    width: 100%;
  }
  /* line 89, ../sass/archive/_layout.scss */
  div.excerpt:nth-of-type(odd) img {
    clear: both;
    display: block;
    float: left;
    margin-left: 0;
    margin-right: -100%;
    width: 100%;
  }
  /* line 94, ../sass/archive/_layout.scss */
  div.excerpt:nth-of-type(even) {
    display: block;
    float: left;
    margin-left: 51.5%;
    margin-right: -100%;
    width: 48.5%;
    clear: right;
  }
  /* line 97, ../sass/archive/_layout.scss */
  div.excerpt:nth-of-type(even) header {
    display: block;
    float: left;
    margin-left: 0;
    margin-right: -100%;
    width: 100%;
  }
  /* line 100, ../sass/archive/_layout.scss */
  div.excerpt:nth-of-type(even) img {
    clear: both;
    display: block;
    float: left;
    margin-left: 0;
    margin-right: -100%;
    width: 100%;
  }
}

/* line 108, ../sass/archive/_layout.scss */
.archive {
  display: block;
  float: left;
  margin-left: 0;
  margin-right: -100%;
  width: 100.0%;
  overflow: hidden;
  *zoom: 1;
  clear: both;
}
/* line 112, ../sass/archive/_layout.scss */
.archive section {
  overflow: hidden;
  *zoom: 1;
}
@media screen and (min-width: 61em) {
  /* line 115, ../sass/archive/_layout.scss */
  .archive section:nth-of-type(3n+1) {
    display: block;
    float: left;
    margin-left: 0;
    margin-right: -100%;
    width: 31.33333%;
    clear: both;
  }
  /* line 118, ../sass/archive/_layout.scss */
  .archive section:nth-of-type(3n+1) header {
    display: block;
    float: left;
    margin-left: 0;
    margin-right: -100%;
    width: 100%;
    clear: both;
  }
  /* line 122, ../sass/archive/_layout.scss */
  .archive section:nth-of-type(3n+1) img {
    display: block;
    float: left;
    margin-left: 0;
    margin-right: -100%;
    width: 100%;
    clear: both;
  }
  /* line 127, ../sass/archive/_layout.scss */
  .archive section:nth-of-type(3n+2) {
    display: block;
    float: left;
    margin-left: 34.33333%;
    margin-right: -100%;
    width: 31.33333%;
  }
  /* line 129, ../sass/archive/_layout.scss */
  .archive section:nth-of-type(3n+2) header {
    display: block;
    float: left;
    margin-left: 0;
    margin-right: -100%;
    width: 100%;
    clear: both;
  }
  /* line 133, ../sass/archive/_layout.scss */
  .archive section:nth-of-type(3n+2) img {
    display: block;
    float: left;
    margin-left: 0;
    margin-right: -100%;
    width: 100%;
    clear: both;
  }
  /* line 138, ../sass/archive/_layout.scss */
  .archive section:nth-of-type(3n+3) {
    display: block;
    float: left;
    margin-left: 68.66667%;
    margin-right: -100%;
    width: 31.33333%;
  }
  /* line 140, ../sass/archive/_layout.scss */
  .archive section:nth-of-type(3n+3) header {
    display: block;
    float: left;
    margin-left: 0;
    margin-right: -100%;
    width: 100%;
    clear: both;
  }
  /* line 144, ../sass/archive/_layout.scss */
  .archive section:nth-of-type(3n+3) img {
    display: block;
    float: left;
    margin-left: 0;
    margin-right: -100%;
    width: 100%;
    clear: both;
  }
}

/* line 153, ../sass/archive/_layout.scss */
footer[role=contentinfo] {
  border-top: 5px solid #ff5b00;
  clear: both;
}
@media screen and (min-width: 61em) {
  /* line 153, ../sass/archive/_layout.scss */
  footer[role=contentinfo] {
    overflow: hidden;
    *zoom: 1;
    display: block;
    float: left;
    margin-left: 0;
    margin-right: -100%;
    width: 100%;
    padding-top: 2.25em;
  }
}
@media screen and (min-width: 61em) {
  /* line 161, ../sass/archive/_layout.scss */
  footer[role=contentinfo] .contact {
    display: block;
    float: left;
    margin-left: 61.8%;
    margin-right: -100%;
    width: 38.2%;
  }
}
@media screen and (min-width: 61em) {
  /* line 166, ../sass/archive/_layout.scss */
  footer[role=contentinfo] .colophon {
    display: block;
    float: left;
    margin-left: 0;
    margin-right: -100%;
    width: 58.8%;
    margin-bottom: 0.75em;
  }
}
@media screen and (min-width: 81em) {
  /* line 166, ../sass/archive/_layout.scss */
  footer[role=contentinfo] .colophon {
    display: block;
    float: left;
    margin-left: 0;
    margin-right: -100%;
    width: 48.5%;
  }
}
/* line 175, ../sass/archive/_layout.scss */
footer[role=contentinfo] small {
  padding-top: 0.75em;
  border-top: 1px solid #cacaca;
  clear: both;
  display: block;
}
@media screen and (min-width: 43em) {
  /* line 181, ../sass/archive/_layout.scss */
  footer[role=contentinfo] small p {
    display: block;
    float: left;
    margin-left: 0;
    margin-right: -100%;
    width: 58.8%;
  }
  /* line 184, ../sass/archive/_layout.scss */
  footer[role=contentinfo] small ul {
    clear: none;
    display: block;
    float: left;
    margin-left: 61.8%;
    margin-right: -100%;
    width: 38.2%;
  }
}
