---
layout: default
---
<div role="main" class="archive">
	<!-- pull in blog posts if this is the blog index - there must be a more graceful way to do this --> 
	{% if page.title == 'Blog' %}
	{% for post in site.categories['blog'] %}
	<article class="excerpt">
		<header>
			<h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
			<p class="meta">
				<time datetime="{{ post.date | date: "%Y-%m-%d" }}">{{ post.date | date: "%B %d, %Y" }}</time>
			</p>
			<img src="http://cdn.jea.tt/img/post/{{ post.hero }}" alt="">
		</header>
		<p>
			{{ post.summary }}
		</p>
	</article>
	{% endfor %}
	{% endif %}
	<!-- pull in work posts if this is the work index - there must be a more graceful way to do this --> 
	{% if page.title == 'Work' %}
	{% for post in site.categories['work'] %}
	<article class="excerpt">
		<header>
			<h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
		</header>
		<img src="http://cdn.jea.tt/img/work/{{ post.hero }}" alt="">
		<p>
			{{ post.summary }}
		</p>
	</article>
	{% endfor %}
	{% endif %}
</div> <!-- /.archive -->

