---
layout: default
---

<article role="main" class="post project">
	<header>
		<h1>
			{{ page.title }}
		</h1>
	{% if page.standfirst %}
	<p class="standfirst">
		{{ page.standfirst }}
	</p>
	{% endif %}
	{% if page.lede %}
	<p class="lede">
		{{ page.lede }}
	</p>
	{% endif %}
	</header>
	{% if page.hero %}
	<img class="hero" src="http://cdn.jea.tt/img/work/{{ page.hero }}" alt="">
	{% endif %}
	<div class="content">
		{{ page.content | markdownify }}
	</div> <!-- /.content -->
	<footer>
		{% if page.project_notes %}
		<h2>Project notes</h2>
		<ol>
			{% for item in page.project_notes %}
			<li>{{ item }}</li>
			{% endfor %}
		</ol>
		{% endif %}
	</footer>
	<aside>
		<nav class="secondary">
			<h2>Recent projects</h2>
			<ul>
				{% for post in site.categories['work'] %}
				<li><a href="{{ post.url }}">{{ post.title }}</a></li>
				{% endfor %}
			</ul>
		</nav>
	</aside>
</article>